body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-color: rgb(114, 107, 107);
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
}

#header {
    font-size: 30px;
    margin-top: 0px;
}

#radius-input-label {
    margin-top: -10px;
    margin-bottom: 10px;
}

#radius-input {
    text-align: center;
    width: 25%;
    margin-bottom: 15px;
}

#result {
    margin-top: -10px;
}

button {
    border: 5px soid black;
    background-color: rgb(114, 107, 107);
    color: white;
}