body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
    font-family: Helvetica;
}

#count-label {
    display: block;
    text-align: center;
    font-size: 10em;
}

#buttons-container {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
}

