
.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider img {
    max-width: 100%;
    height: auto;
    display: none;
    margin: auto;
}

img.displayImage {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

.prev {
    left: 150px;
}

.next {
    right: 150px;
}

@keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
}